.logo-container {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Ms Madi', cursive;
    font-style: bold;
    font-size: xx-large;
}

.logo-{
    width: 17px;
    height: 17px;


     .icon0 {
        width: 17px;
        height: 17px;
       
        
    }
}